.clearfix::after{
    content: '';
    clear: both;
    display: block;
}



.pc-black{
    height: 100px;
    width: 100px;
    /* background-color: red; */
    float: right;
    text-align: center;
}

.pc-black>a{
    line-height: 100px;
    color: #242424;;
    text-decoration: none;
}

.pc-black>a:hover{
    font-weight: bold;
    color:rgb(4, 152, 252); 
}

 .pc-youqianglianjie-icon{
     height: 100px;
     margin-top: 15px;
     text-align: center;
 }

 .pc-youqianglianjie-icon img{
     width: 100px;height: 100px;
 }

 .pc-youqianglianjie{
    border: 1px solid rgb(196, 196, 196);
     margin-top: 20px;
     display: inline-block;
     border-radius: 6px;
 }



 .pc-youqianglianjie-con{
     text-align: center;
 }

 .pc-youqianglianjie-01{
}

 .pc-youqianglianjie-01>h2{
    color:rgb(4, 152, 252); 
    line-height: 50px;
    font-size: 20px;
    padding: 0 500px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 1px solid rgb(196, 196, 196);
    background-color:#f6f6f6;
 }

 .pc-youqianglianjie-01-con{
     background-color: white;
     padding: 20px 30px;
     border-bottom-left-radius: 6px;
     border-bottom-right-radius: 6px;
 }


.pc-youqianglianjie-01-con-img{
    float:left;
    background-image: url(../image/pc-logo-01.jpg);
    height: 100px;
    width: 100px;
    background-size: cover;
}

.pc-youqianglianjie-01-con-jieshao{
    float: right; 
    border-radius: 5px;
    margin-top: 36px;
    
}

.pc-youqianglianjie-01-con-jieshao>a{
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-weight: bold;
    border: 1px solid;
    display: inline-block;
    padding: 6px 6px;
    border-radius: 4px;
    font-size: 12px;
    transition:all 0.7s;
}

.pc-youqianglianjie-01-con-jieshao>a:hover{
    background-color:rgb(4, 152, 252);
    color: white;
    font-weight: bold;
    border: 1px solid;
}

.pc-youqianglianjie-02-con-jieshao>a:hover{
    background-color:rgb(4, 152, 252);
    color: white;
    font-weight: bold;
    border: 1px solid;
}

.pc-youqianglianjie-01-con>p{
    display: inline-block;
    width: 500px;
    margin-top: 25px;
    font-size: 13px;
    text-align: center; 
    color: rgb(114, 114, 114);
}

.pc-youqianglianjie-02{

}

 .pc-youqianglianjie-02>h2{
    color:rgb(4, 152, 252); 
    line-height: 50px;
    font-size: 20px;
    padding: 0 443px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 1px solid rgb(196, 196, 196);
    background-color:#f6f6f6;
 }

 .pc-youqianglianjie-02-con{
     background-color: white;
     padding: 20px 30px;
     border-bottom-left-radius: 6px;
     border-bottom-right-radius: 6px;
 }


.pc-youqianglianjie-02-con-img{
    float:left;
    background-image: url(../image/pc-logo.jpg);
    height: 100px;
    width: 100px;
    background-size: cover;
}

.pc-youqianglianjie-02-con-jieshao{
    float: right;
    border-radius: 5px;
    margin-top: 36px;
}

.pc-youqianglianjie-02-con-jieshao>a{
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-weight: bold;
    border: 1px solid;
    display: inline-block;
    padding: 6px 6px;
    border-radius: 4px;
    font-size: 12px;
    transition:all 0.4s;
}

.pc-youqianglianjie-02-con>p{
    display: inline-block;
    width: 500px;
    margin-top: 25px;
    font-size: 13px;
    text-align: center; 
    color: rgb(114, 114, 114);
}


